@import './variables.scss';
@import './global.scss';

.feedback{
    display:   flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-form{
        width: 25rem;
        &-input{
            display: grid;
            
            padding-bottom: 4%;
            input {
                outline: none;
                border: none;
                border-bottom: 1px solid;
                align-items: center;
                padding: 0px 0px 0px 4%;
            }

            
        }
        .send {
            margin-top: 2rem;
            margin-bottom: 5rem;
            width: 100%;
        }
    }
}